body, html {
    height: 100%;
    font-size: calc(0.75em + 1vmin);
    background-color: #eee;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

button {
    font-size: calc(0.75em + 1vmin);
    padding: 20px;
    color: #eee;
    border-style: none;
    background-color: #000;
    transition-property: all;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

button:focus {
    outline: none;
}
